
PORT=8000
NODE_ENV=development
CLIENT_ENDPOINT=http://localhost:3000
ALLOWED_ORIGINS="use comma separated origins"
GOOGLE_OAUTH2_CLIENT_ID=
GOOGLE_OAUTH2_CLIENT_SECRET=
GOOGLE_OAUTH2_CALLBACK_URL="http://localhost:8000/api/v1/users/google/callback"
GOOGLE_OAUTH2_AUTHORIZATION_SUCCESS_REDIRECT_URL="${CLIENT_ENDPOINT}/success"
GOOGLE_OAUTH2_AUTHORIZATION_FAILED_REDIRECT_URL="${CLIENT_ENDPOINT}/login"

SMTP_USER=h@ethereal.email
SMTP_PASSWORD=
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_SECURITY=1

ACCESS_TOKEN_SECRET_KEY=""
REFRESH_TOKEN_SECRET_KEY=""
ACCESS_TOKEN_EXPIRES=1m
# REFRESH_TOKEN_EXPIRES=7d
REFRESH_TOKEN_EXPIRES=2m


POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgress
POSTGRES_PASSWORD=postgress123
POSTGRES_DB=blog
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

ES_HOST=elasticsearch

# Project namespace (defaults to the current folder name if not set)
ELASTIC_USERNAME=elastic

# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD=changeme

# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=changeme
# Version of Elastic products
ES_STACK_VERSION=9.0.0

# Set the cluster name
CLUSTER_NAME=docker-cluster

# Set to 'basic' or 'trial' to automatically start the 30-day trial
LICENSE=basic
#LICENSE=trial

# Port to expose Elasticsearch HTTP API to the host
ES_PORT=9200

# Port to expose Kibana to the host
KIBANA_PORT=5601

# Increase or decrease based on the available host memory (in bytes)
# ES_MEM_LIMIT=512000000
# KB_MEM_LIMIT=512000000
# LS_MEM_LIMIT=1073741824

# SAMPLE Predefined Key only to be used in POC environments
# ENCRYPTION_KEY=c34d38b3a14956121ff2170e5030b471551370178f43e5626eec58b04a30fae2

ES_MEM_LIMIT=4g
ES_JAVA_OPTS=-Xms1g -Xmx1g