@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-progress {
    background: linear-gradient(
      90deg,
      #ffd33d,
      #ea4aaa 17%,
      #b34bff 34%,
      #01feff 51%,
      #ffd33d 68%,
      #ea4aaa 85%,
      #b34bff
    );
  }

  .bg-base-left {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0px,
      rgb(255, 255, 255) 50%
    );
  }

  .bg-base-right {
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 0px,
      rgb(255, 255, 255) 50%
    );
  }

  .bg-base-top {
    background: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 5%,
      rgba(255, 255, 255, 0.6) 5%,
      rgb(255, 255, 255) 65%
    );
  }
}

@layer utilities {
  .shadow-top {
    box-shadow: 0 0 10px rgb(0 0 0 / 10%), 0 0 10px rgb(0 0 0 / 10%);
  }
  .shadow-top-1 {
    box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
  }
}
